<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<img src="img/left-top.png" alt="" class="left-top">
	<img src="img/right-top-top.png" alt="" class="right-top-top">
	<img src="img/right-top-bottom.png" alt="" class="right-top-bottom">
	<div class="logo">
		<a target="_blank" href="https://amir.capital/">
			<img src="img/logo.png" alt="">
		</a>
	</div>
	<div style="margin-top: 40px" class="title1">
		<div>Здравствуйте, <%= name %></div>
		<div>Ваш запрос на перевод отклонен.</div>
	</div>
	<div class="button">
		<button>
			<a target="_blank" href="<%= host %>front/account/<%= fund %>#transfers">Посмотреть причину</a>
		</button>
	</div>
	<div class="family-img">
		<img src="img/family.png" alt="">
	</div>
	<div style="margin-top: 0" class="line"></div>
	<div class="socials">
		<div class="social">
			<div class="social__title">Звоните по любым вопросам</div>
			<div class="social__phone">
				<a href="tel:+74992130257">+7-499-213-02-57</a>
			</div>
		</div>
		<div class="social">
			<div class="social__title">Мы в соцсетях</div>
			<div class="social-logos">
				<div class="social-logo">
					<a target="_blank" href="https://www.facebook.com/amircapitalfund/">
						<img src="img/fb.png" alt="">
					</a>
				</div>
				<div class="social-logo">
					<a target="_blank" href="https://www.instagram.com/amircapital/">
						<img src="img/inst.png" alt="">
					</a>
				</div>
				<div class="social-logo">
					<a target="_blank" href="https://vk.com/amir_capital">
						<img src="img/vk.png" alt="">
					</a>
				</div>
				<div class="social-logo">
					<a target="_blank" href="https://www.youtube.com/channel/UCFAruvM9yCHgrYvWHAiEKmw?view_as=subscriber">
						<img src="img/yt.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="social">
			<div class="social__title">Скачайте любимое приложение</div>
			<div class="social-apps">
				<div class="social-app">
					<a href="#">
						<img src="img/apple.png" alt="">
					</a>
				</div>
				<div class="social-app">
					<a href="#">
						<img src="img/android.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>